@model IEnumerable<University.Models.Teacher>

@{
    ViewData["Title"] = "TeacherList";
}

<h1>Teacher List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.profilePicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.academicRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.officeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hireDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

    var photoPath = "~/images/" + (item.profilePicture ?? "blankImage.png");
        <tr>
            <td>
                <img src="@photoPath"
                     class="rounded-circle"
                     height="40" width="40"
                     asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.academicRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.officeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hireDate)
            </td>
            <td>
                <a asp-action="TeacherViewDetails" asp-route-id="@item.ID">Choose</a>
            </td>
        </tr>
}
    </tbody>
</table>
